---
layout: default
---

<main class="container post-container">
    <div class="breadcrumbs">
        <a href="{{ '/' | relative_url }}">Início</a>
        {% if page.category_slug %}
            &gt; <a href="{{ '/' | append: page.category_slug | append: '/' | relative_url }}">{{ page.category_name }}</a>
        {% endif %}
        &gt; <span>{{ page.title }}</span>
    </div>

    <article class="post-content">
        <h1>{{ page.title }}</h1>
        
        {% if page.toc %}
        <nav class="table-of-contents">
            <h2>Índice de Conteúdo</h2>
            <!-- O script de TOC montará os links aqui -->
        </nav>
        {% endif %}

        {{ content }}
    </article>
</main>
